.loanhistory {
    padding: 0 0.267rem;
    border-top: 0.12rem solid #e4e4e4;
}
.wrap {
    height: 2.533rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.013rem solid #e4e4e4;
}
.loanhistory-left, .loanhistory-right {
    padding: 0.667rem 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.l-l-money {
    font-size: 0.4rem;
}
.l-r-status {
    text-align: center;
    font-size: 0.347rem;
    color: #a8a8a8;
    margin-right: 0.533rem;
}
.l-l-time {
    font-size: 0.373rem;
    color: #a8a8a8;
}
.l-r-money {
    font-size: 0.427rem;
}
.triangle::after {
    border-color: #a8a8a8;
    right: -0.267rem;
}